// This is sample file
// Please duplicate this file as MQTT_credentials.h

# define MQTT_BROKER             "XXXXX.XX.XX.hivemq.cloud"
# define MQTT_BROKER_USERNAME    "USERNAME"
# define MQTT_BROKER_PASSWORD    "PASSWORD"